body {
  color: #515050;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.card-details-container {
  background-color: white;
  /* width: 20%; */
  /* width: 300px; */
  padding: 0.7em;
  border-radius: 4px;
  margin-bottom: 10px;
}
.row {
  display: flex;
}

.client-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client-image-name-container {
  display: flex;
  align-items: center;
}
.image-container {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.image-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.client-name-container .client-name {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  color: #515050;
}

/* //SECOND ROW  */
.details-container {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 2px;
  margin-bottom: 12px;
  /* justify-content: space-around; */
}
.short-description-container p {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  margin: 4px;
}
.icon-text-container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.icon-text-container p {
  margin: 1px;
  font-size: 12px;
  font-weight: 600;
}
.clipborad-text-container {
  background-color: white;
  margin-left: auto;
}

/* THIRD ROW */

.task-meta-container {
  align-items: center;
  gap: 1px;
  justify-content: space-between;
}
.count-container {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.count-container p {
  margin: 0;
  padding: 2px;
  font-weight: 600;
}
.comment-container {
  margin-left: 6px;
}

.date-container {
  margin-left: auto;
}
.date-container .fa-calendar-days {
  font-size: 16px;
}
.icon-text-container .fa-comments,
.fa-paperclip {
  font-size: 14px;
  cursor: pointer;
}
